In [1]:
import pandas as pd

In [2]:
trip = pd.read_csv('data/trip.csv', low_memory=False)
test = pd.read_csv('data/trip_test.csv', low_memory=False)

trip.head(4)
test.head(2)

,id,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,504737,10/18/2014 11:25,Embarcadero at Sansome,60,10/18/2014 12:12,Powell at Post (Union Square),71,426,Customer,77009
1,530846,11/5/2014 13:00,Embarcadero at Folsom,51,11/5/2014 13:09,Broadway St at Battery St,82,454,Subscriber,94132

In [3]:
trip.head()

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127
1,4607,70,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214
3,4251,77,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060
4,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103

In [4]:
df = pd.merge(test,trip, how='left', on='id')
df.head()

,id,start_date_x,start_station_name_x,start_station_id_x,end_date_x,end_station_name_x,end_station_id_x,bike_id_x,subscription_type_x,zip_code_x,duration,start_date_y,start_station_name_y,start_station_id_y,end_date_y,end_station_name_y,end_station_id_y,bike_id_y,subscription_type_y,zip_code_y
0,504737,10/18/2014 11:25,Embarcadero at Sansome,60,10/18/2014 12:12,Powell at Post (Union Square),71,426,Customer,77009,2839,10/18/2014 11:25,Embarcadero at Sansome,60,10/18/2014 12:12,Powell at Post (Union Square),71,426,Customer,77009
1,530846,11/5/2014 13:00,Embarcadero at Folsom,51,11/5/2014 13:09,Broadway St at Battery St,82,454,Subscriber,94132,519,11/5/2014 13:00,Embarcadero at Folsom,51,11/5/2014 13:09,Broadway St at Battery St,82,454,Subscriber,94132
2,813140,6/18/2015 17:34,San Francisco Caltrain (Townsend at 4th),70,6/18/2015 17:37,2nd at Townsend,61,370,Subscriber,94107,176,6/18/2015 17:34,San Francisco Caltrain (Townsend at 4th),70,6/18/2015 17:37,2nd at Townsend,61,370,Subscriber,94107
3,897674,8/20/2015 7:06,Civic Center BART (7th at Market),72,8/20/2015 7:15,Townsend at 7th,65,451,Subscriber,94582,502,8/20/2015 7:06,Civic Center BART (7th at Market),72,8/20/2015 7:15,Townsend at 7th,65,451,Subscriber,94582
4,322830,6/13/2014 8:46,San Francisco Caltrain 2 (330 Townsend),69,6/13/2014 8:57,Embarcadero at Folsom,51,603,Subscriber,95014,677,6/13/2014 8:46,San Francisco Caltrain 2 (330 Townsend),69,6/13/2014 8:57,Embarcadero at Folsom,51,603,Subscriber,95014

In [5]:
df = df[['id', 'duration']]

In [6]:
df.head()

       id  duration
0  504737      2839
1  530846       519
2  813140       176
3  897674       502
4  322830       677

In [7]:
from sklearn.metrics import explained_variance_score

def eval(output):
    
    predictions = pd.read_csv('predictions/'+output,low_memory=False)
    print abs(explained_variance_score(df, predictions)*100)
eval('passive_aggressive_filtered.csv')

50.4287588745

In [8]:
eval('bayesian_ridge_filtered.csv')

50.9039054595

In [9]:
eval('ransac_filtered.csv')

49.989390642

In [10]:
eval('mlp_filtered_comb7.csv')

51.4149659298

In [11]:
eval('decision_tree_filtered_comb2.csv')

51.2502149848

In [12]:
eval('decision_tree_filtered_comb7.csv')

66.1130578765

In [13]:
eval('stochastic_gradient_descend_filtered_comb7.csv')

6.88172345664e+16

In [14]:
eval('ada_boost_filtered_comb3.csv')

51.2235862783

In [15]:
eval('ada_boost_filtered_comb8.csv')

51.1260890054

In [48]:
eval('bagging_filtered_comb2.csv')

51.2434290637

In [54]:
eval('extratrees_filtered_comb8.csv')

52.1747772085

In [50]:
eval('gradient_boosting_filtered_comb7.csv')

51.3828988094

In [44]:
eval('K_neighbors_regressor_filtered_comb7.csv')

56.8665949142